{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block body %}
<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Aliquam eligendi fuga molestias vel.</li>
<li>Consequatur libero saepe similique voluptas?</li>
<li>Alias iste maxime nesciunt quod.</li>
<li>Aliquam ea mollitia sapiente voluptas!</li>
<li>Et eveniet ex iste laudantium!</li>
<li>Dicta ipsa quibusdam sapiente sunt!</li>
<li>Amet, delectus quasi? Eligendi, quaerat!</li>
<li>Aliquam corporis dignissimos impedit velit.</li>
<li>Accusantium eum harum perspiciatis ut.</li>
<li>Alias explicabo magni nostrum vel!</li>
<li>Architecto delectus error iste ratione!</li>
<li>Dignissimos eveniet optio tempore velit!</li>
<li>Dolorem in iste laboriosam quaerat!</li>
<li>Distinctio doloremque doloribus minima rerum.</li>
<li>Dignissimos impedit labore possimus vero!</li>
<li>Debitis facere rem tempore veniam?</li>
<li>Labore libero praesentium provident quibusdam!</li>
<li>Accusantium adipisci harum ipsa similique.</li>
<li>Aliquid dolore ea repellat unde?</li>
<li>Expedita iusto numquam quis recusandae?</li>
<li>A fugit quibusdam sint totam?</li>
<li>Dolore nihil praesentium sint veniam?</li>
<li>Aliquam earum odio officia sint?</li>
<li>Laudantium necessitatibus perferendis quaerat rerum!</li>
<li>Dignissimos ea eum hic numquam?</li>
{% endblock %}

